*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{

    /* primary- colors below */

    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    --Yellow: hsl(48, 100%, 67%);
    --Cyan: hsl(182, 100%, 37%);


    /* Accent colors below */

    --Blue: hsl(248, 32%, 49%);

    /* neutral- colors below */

    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
}



.form-body {
   background-image:url(resources/images/bg-intro-desktop.png) ;
   background-color: var(--Red);
}

#proposal-request{
    background-color: var(--Green);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#clear-form{
    background-color: var(--Blue);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.documents-file {
   
    padding: 9px;
    border-radius: 5px;
    background-color:var(--Blue);
    color: white;
   
}

.style-helper-text{
     /* background-color:var(--Blue); */
    color: white;
}

.header-helper-text{
    color: var(--Cyan);
    
}